AddDefaultCharset utf-8

<FilesMatch "\.php$">
	Order Deny,Allow
	Deny from all
</FilesMatch>

<FilesMatch "^index.php$">
	Order Allow,Deny
	Allow from all
</FilesMatch>

RewriteEngine  on

RewriteCond  %{SCRIPT_FILENAME}  !-f
RewriteRule  ^admin  index.php?do=admin  [QSA,L]
RewriteCond  %{SCRIPT_FILENAME}  !-f
RewriteRule  ^config  index.php?do=config  [QSA,L]
RewriteCond  %{SCRIPT_FILENAME}  !-f
RewriteRule  (.*)  index.php?t=$1  [QSA,L]
