<FilesMatch "\.(php|json)$">
	Order Deny,Allow
	Deny from all
</FilesMatch>

<FilesMatch "^index.php$">
	Order Allow,Deny
	Allow from all
</FilesMatch>

RewriteEngine  on

RewriteCond  %{SCRIPT_FILENAME}  !-f
RewriteRule  (.*)  index.php  [QSA,L]
