/* Раскладка */

body {
	padding: 0; margin: 0;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0;
}

img {
	border-width: 0;
}

#top {
	text-align: right;
	padding: 10px;
}
#top a {
	margin: 0 5px;
}

#crumb {
	float: left;
}

#content {
	padding: 10px;
}

/* Фоны и цвета */

#top {
	background: #bde;
}


/* Шрифты */

body {
	font-family: verdana, arial, sans-serif;
	font-size: 11pt;
	color: #333;
}

a {
	color: #05c;
}
a:hover {
	color: #015;
}
