/* Общее */

img {
	border-width: 0;
	vertical-align: middle;
}

/* Редактор */
textarea.editor {
	width: 100%;
}

/* Таскалки */
#sub tr[id],
#gallery div.block {
	cursor: move;
}

/* Список файлов (галерея) */
#gallery div.block,
#gallery div.placeholder {
	float: left;
	padding: 5px;
	line-height: 64px;
}
#gallery img.pic {
	height: 64px;
}
#gallery div.block input {
	vertical-align: middle;
}
#gallery div.placeholder {
	width: 32px;
	height: 64px;
}


/* Шрифты */
body {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	color: #000;
}
