{
	"title": "Тестовый сайт",
	"main": 1,
	"db": {
		"host": "localhost",
		"user": "admin",
		"pass": "admin",
		"db": "admin"
	},
	"admin": {
		"login": "admin",
		"salt": "LTE4Njc5NDMwMg==",
 		"hash": "b6393a4d636bfdf31f7fc3d3cfa7a13bdd1d8ec9",
 		"timeout": 7200
	},
	"cache": 0
}
