<?
	$CONFIG['db_host'] = 'localhost';
	$CONFIG['db_user'] = 'admin';
	$CONFIG['db_pass'] = 'admin';
	$CONFIG['db_db'] = 'admin';
	$CONFIG['admin_salt'] = 'g4kdv';
	$CONFIG['admin_hash'] = '2c55422426b3e1183f2717def16bbe91';
	$CONFIG['title'] = 'Тестовый сайт';
	$CONFIG['adv'] = true;
	$CONFIG['main'] = 1;
	$CONFIG['preview_w'] = 128;
	$CONFIG['preview_h'] = 128;
	$CONFIG['preview_quality'] = 85;
	$CONFIG['rewrite'] = true;
	$CONFIG['formats'] = '{title : "Заголовок 1", block : "h1" },
{title : "Заголовок 2", block : "h2" },
{title : "Основной", block : "p" }';
?>
