<?php
	$CONFIG['db_host'] = 'localhost';
	$CONFIG['db_user'] = 'admin';
	$CONFIG['db_pass'] = 'admin';
	$CONFIG['db_db'] = 'admin';
	$CONFIG['admin_salt'] = 'g4kdv';
	$CONFIG['admin_hash'] = '2c55422426b3e1183f2717def16bbe91';
	$CONFIG['title'] = 'Тестовый сайт';
	$CONFIG['adv'] = true;
	$CONFIG['main'] = 1;
	$CONFIG['rewrite'] = true;
	$CONFIG['load_url'] = false;
	$CONFIG['template'] = 'templates/main.tpl';
	$CONFIG['404_page'] = 0;
	$CONFIG['formats'] = '{ name: "Заголовок 1", element: "h1" },
{ name: "Заголовок 2", element: "h2" },
{ name: "Обычный", element: "p" },
{ name: "Крупный шрифт", element: "big" },
{ name: "Мелкий шрифт", element: "small" }';
