/* Общее */
html {
	background: #ddd;
}

body {
	font-family: Arial, Sans-serif;
	font-size: 13px;
	color: #000;
	max-width: 1800px;
	margin: 0 auto; padding: 0;
}
img {
	border-width: 0;
	vertical-align: middle;
}

a {
	color: #005ec7;
}

h2 {
	font-size: 16px;
}
h3 {
	font-size: 16px;
	color: #555;
}

/* Шапка */
#top {
	padding: 2px 10px 10px;
}

#top a.logo {
	position: relative;
	top: 5px;
}
#top a.logo img {
	vertical-align: baseline;
}

#top span {
	font-weight: bold;
}

#top div {
	float: right;
	padding-top: 10px;
}

#main {
	background: #ededed;
	position: relative;
}

/* Левый блок */
#nav {
	width: 330px;
	position: absolute;
	top: 0; bottom: 0;
	overflow-y: auto;
}

#nav_title {
	height: 58px;
	line-height: 58px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding: 0 17px;
	background-color: #333;
	background-image: linear-gradient(top, #444, #000);
	background-image: -o-linear-gradient(top, #444, #000);
	background-image: -ms-linear-gradient(top, #444, #000);
	background-image: -moz-linear-gradient(top, #444, #000);
	background-image: -webkit-linear-gradient(top, #444, #000);
}

#nav_title a {
	display: block;
	color: #fff;
	text-decoration: none;
}

#nav_title a.add {
	width: 28px; height: 28px;
	margin-top: 15px;
	display: block;
	float: right;
	background: url(img/admin/add_sub.png);
}

#nav li {
	list-style: none;
}

#nav li div.indent {
	width: 10px; height: 10px;
	float: left;
}

#nav li {
	border-bottom: #ddd 1px solid;
	background: #f5f5f5;
}
#nav li a.block {
	height: 31px;
	line-height: 31px;
	display: block;
	color: #000;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#nav li.sel {
	border-bottom: none;
	background-color: #428de0 !important;
	background-image: linear-gradient(top, #4898f0, #3d83d3) !important;
	background-image: -o-linear-gradient(top, #4898f0, #3d83d3) !important;
	background-image: -ms-linear-gradient(top, #4898f0, #3d83d3) !important;
	background-image: -moz-linear-gradient(top, #4898f0, #3d83d3) !important;
	background-image: -webkit-linear-gradient(top, #4898f0, #3d83d3) !important;
}
#nav li.sel a.block {
	color: #fff !important;
}


#nav li.last {
	background: #ededed;
}

#nav li div.sort {
	width: 15px; height: 8px;
	margin: 13px 10px 0;
	float: left;
	background: url(img/admin/sort.png);
	background-position: 15px 0;
}
#nav li.sel div.sort {
	background-position: 0 0 !important;
}
#nav li.last div.sort {
	background-position: 30px 0;
}

#nav li div.arrow {
	width: 10px; height: 11px;
	margin-left: 10px;
	background: url(img/admin/arrow.png);
	display: inline-block;
	background-position: 20px 0;
}

#nav li.sel div.arrow {
	background-position: 0 0;
}

#nav li.open div.arrow {
	background-position: 10px 0;
}

#nav li:last-child {
	border: none;
}
#nav li:last-child:after {
	content: "";
	display: block;
	height: 10px;
	background-image: linear-gradient(top, #ddd, #ededed);
	background-image: -o-linear-gradient(top, #ddd, #ededed);
	background-image: -ms-linear-gradient(top, #ddd, #ededed);
	background-image: -moz-linear-gradient(top, #ddd, #ededed);
	background-image: -webkit-linear-gradient(top, #ddd, #ededed);
}

/* Круги */
.round {
	width: 11px; height: 11px;
	display: block;
	background: url(img/admin/round.png);
}

#nav .round {
	float: right;
	margin: 10px 0 0 10px;
}
#nav li a.round.del {
	background-position: 11px 22px;
	margin-right: 10px;
}
#nav li.sel a.round.del {
	background-position: 11px 0;
}
#nav li div.lock {
	background: none;
	margin-right: 10px;
}
#nav li div.round.show {
	background-position: 0 22px;
}
#nav li.sel div.round.show {
	background-position: 0 0;
}
#nav li div.round.hide {
	background-position: 22px 22px;
}
#nav li.sel div.round.hide {
	background-position: 22px 0;
}

#nav li.placeholder {
	height: 31px;
}

#content div.round {
	display: inline-block;
	vertical-align: middle;
}
#content div.round.show {
	background-position: 0 11px;
}
#content div.round.hide {
	background-position: 22px 11px;
}

#nav div.add {
	height: 15px;
	text-align: right;
	padding: 0 10px;
	color: #fff;
	font-size: 11px;
	background-color: #444;
	background-image: linear-gradient(top, #282828, #666);
	background-image: -o-linear-gradient(top, #282828, #666);
	background-image: -ms-linear-gradient(top, #282828, #666);
	background-image: -moz-linear-gradient(top, #282828, #666);
	background-image: -webkit-linear-gradient(top, #282828, #666);
}

#nav div.add a {
	width: 11px; height: 10px;
	display: block;
	float: right;
	margin: 2px 0 0 8px;
	background: url(img/admin/add_sub2.png);
}

#nav hr {
	border: none;
	margin: 0;
	height: 1px;
	background: #8e8e8e;
	position: relative;
	bottom: 1px;
}

/* Контент */
#content {
	padding: 15px 25px 15px 15px;
	margin-left: 330px;
	min-height: 500px;
	background: #f5f5f5;
	border-left: #ddd 2px solid;
}

/* Крошки */
#crumb,
#crumb a {
	color: #bbb;
}

/* Редактор свойств страницы */
table.base {
	width: 100%;
}

/* Шрифт и размер в кнопке сохранить и текстовом поле ввода */
table.base input[type=text],
table.base select,
input.save {
	font-family: Arial, Sans-serif;
	font-size: 13px;
}

/* Кнопка и сссылка справа от заголовка */
input.save,
a.goto {
	float: right;
}

input.save {
	padding: 8px 25px;
	position: relative;
	bottom: 8px;
	margin-left: 15px;
	background: #428de0;
	color: #fff;
	border: none;
	border-radius: 3px;
}

table.base input[type=text],
table.base input[type=password] {
	width: 350px; height: 30px;
	padding: 0 10px;
	background: #fff;
	color: #555;
	border: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #aaa;
}

table.base select {
	width: 370px;
	padding: 4px 0;
}

table.base input.small {
	width: 50px;
}

/* Описание типа */
td.descr {
	font-size: 10px;
}

/* Редактор */
table.base textarea.editor {
	width: 100%;
}

/* Таскалки */
#nav li.last div.sort,
#gallery div.block {
	cursor: move;
}

#nav li.placeholder {
	background: #555;
}

/* Список файлов (галерея) */
#gallery form {
	overflow: hidden;
}
#gallery div.block,
#gallery div.placeholder {
	float: left;
	padding: 5px;
}
#gallery div a {
	line-height: 64px;
	text-decoration: none;
}
#gallery img.pic {
	vertical-align: bottom;
}
#gallery img.pic {
	height: 64px;
}
#gallery div.block input {
	vertical-align: middle;
}
#gallery div.placeholder {
	height: 64px;
	background: #555;
}

/* Подвал */
#bottom {
	color: #434343;
	text-align: right;
	padding: 10px;
}
