/* Общее */
html {
	background: #ddd;
	height: 100%;
}

body {
	font-family: Arial, Sans-serif;
	font-size: 13px;
	color: #000;
	margin: 0 auto; padding: 0;
	height: 100%;
}
img {
	border-width: 0;
	vertical-align: middle;
}

a {
	color: #3c68a5;
}

h2 {
	font-size: 16px;
}
h3 {
	font-size: 16px;
	color: #555;
}

hr {
	border: none;
	background: #aaa;
	height: 1px;
}

.load {
	background: url("img/load.gif") no-repeat scroll center center rgba(255, 255, 255, 0.5);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Шапка */
#top {
	padding: 2px 10px 10px;
	height: 28px;
}

#top a.logo {
	display: block;
	float: left;
	height: 26px;
	width: 108px;
	background: url(img/adm.png) no-repeat;
	background-size: contain;
	margin: 6px 6px 6px 0;
}

#top span {
	font-weight: bold;
	display: inline-block;
	line-height: 14px;
	margin-top: 15px;
}
#top span a {
	color: #000;
}
#top span a:hover {
	color: #3c68a5;
}

#top a {
	text-decoration: none;
}
#top a:hover {
	text-decoration: underline;
}

#top div {
	float: right;
	padding-top: 10px;
}
#top div a {
	margin-left: 20px;
}

#main {
	background: #ededed;
}

/* Левый блок */
#nav {
	width: 330px;
	top: 0; bottom: 0;
	overflow-y: auto;
	position: absolute;
	margin: 40px 0 20px;
	background: #ededed;
}

#nav_title {
	height: 58px;
	line-height: 58px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding: 0 17px;
	background-color: #333;
}

#nav_title a {
	display: block;
	color: #fff;
	text-decoration: none;
}

#nav_title a.add {
	width: 24px; height: 24px;
	line-height: 23px;
	margin-top: 15px;
	display: block;
	float: right;
	text-align: center;
	border: 2px solid #888;
	border-radius: 2px;
	color: #ddd;
	font-size: 14px;
}

#nav li {
	list-style: none;
	position: relative;
}

#nav li div.indent {
	width: 10px; height: 10px;
	float: left;
}

#nav li {
	border-bottom: #ddd 1px solid;
	background: #f5f5f5;
}
#nav li a.block {
	height: 31px;
	line-height: 31px;
	display: block;
	color: #000;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#nav li.sel {
	background-color: #3c68a5 !important;
}
#nav li.sel a.block {
	color: #fff !important;
}


#nav li.last {
	background: #ededed;
}

#nav hr,
#nav div.sub,
#nav div.add {
	display: none;
}

#nav li i.fa-sort {
	float: left;
}
#nav li i.fa-sort:before {
	margin: 9px 10px 0;
	color: #ccc;
	font-size: 10px;
	vertical-align: middle;
}
#nav li.sel i.fa-sort:before {
	color: #fff !important;
}
#nav li.last i.fa-sort:before {
	color: #666;
}

#nav li i.sub:before {
	font-size: 16px;
	vertical-align: top;
	margin-left: 10px;
	color: #bbb;
}

#nav li.sel i.sub:before {
	color: #fff;
}

#nav li i.sub {
	transform-origin: 90% 50%;
	transition-duration: 0.4s;
}
#nav li.open i.sub {
	transform: rotate(90deg);
}

#nav li:last-child {
	border: none;
}
#nav > :last-child:after {
	content: "";
	display: block;
	height: 5px;
	background-image: linear-gradient(top, #ddd, #ededed);
	background-image: -o-linear-gradient(top, #ddd, #ededed);
	background-image: -ms-linear-gradient(top, #ddd, #ededed);
	background-image: -moz-linear-gradient(top, #ddd, #ededed);
	background-image: -webkit-linear-gradient(top, #ddd, #ededed);
}

#nav div.sub {
	position: relative;
}


#nav a.del,
#nav a.hide {
	float: right;
	margin-right: 5px;
	font-size: 1.2em;
	line-height: 31px;
}
#nav a.hide {
	cursor: default;
}
#nav li a.del {
	color: #aaa;
}
#nav li a.del:hover {
	color: #9f6060;
}
#nav li a.del.hidden {
	visibility: hidden;
}
#nav li.sel a.del {
	color: #2b416d;
}
#nav li.sel a.del:hover {
	color: #fff;
}
#nav li.sel a.hide i {
	color: #fff !important;
}
#content i.fa-check-circle {
	color: #6b9e60;
}
#nav i.fa-check-circle {
	color: #bbb;
}
i.fa-minus-circle {
	color: #9f6060;
}

#nav li.placeholder {
	height: 31px;
}

/* Config */
#nav h3 {
	margin: 10px 0 5px 0;
	color: #333;
}
#nav h3 i.fa {
	color: #888;
}
#nav li i.config {
	float: left;
	line-height: 31px;
	margin: 0 10px 0 30px;
	color: #888;
}
#nav li.sel i.config {
	color: #fff;
}
#nav li i.config.hidden {
	height: 31px;
}


#nav div.add {
	height: 15px;
	text-align: right;
	padding: 0 10px;
	color: #fff;
	font-size: 11px;
	background-color: #444;
}

#nav div.add a {
	width: 10px; height: 10px;
	line-height: 10px;
	display: block;
	float: right;
	text-align: center;
	margin: 2px 0 0 8px;
	background: #888;
	border-radius: 2px;
	text-decoration: none;
}
#nav div.add a {
	color: #ddd;
}

#nav hr {
	border: none;
	margin: 0;
	height: 1px;
	background: #8e8e8e;
	position: relative;
	bottom: 1px;
}

/* Контент */
#content {
	padding: 15px;
	background: #f5f5f5;
	border-left: #ddd 2px solid;
	position: absolute;
	right: 0; top: 0; bottom: 0; left: 0;
	margin: 40px 0 20px 330px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
}
#content > *:last-child {
	margin-bottom: 15px;
}

/* Крошки */
#crumb,
#crumb a {
	color: #999;
}

#crumb.goto a {
	color: #3c68a5;
	text-decoration: none;
}
#crumb.goto a:hover {
	text-decoration: underline;
}

#content .fields > div {
	padding: 2px;
}
#content .fields > div.padding {
	padding-top: 20px;
}

#content .fields > div > div.padding {
	padding-top: 8px;
}

#content .fields > div > div {
	padding-left: 150px;
}

#content .fields.long > div > div {
	padding-left: 250px;
}

#content .fields div.descr {
	float: left;
	clear: left;
	width: 150px;
	padding-top: 8px;
	padding-left: 0 !important;
}

#content .fields.long div.descr {
	width: 250px;
}

/* Progress */
div.progress {
	display: none;
}

div.progress a {
	display: table-cell;
	padding-left: 10px;
	white-space: nowrap;
}

div.progress div {
	display: table-cell;
	width: 100%;
}

div.progress progress {
	width: 100%;
	color: #3C68A5;
	border: 1px solid #3C68A5;
	height: 6px;;
}


/* Полосатая таблица */
table.zebra,
table.zebra td,
table.zebra th {
	border-collapse: collapse;
	border: 1px solid #888;
}
table.zebra td {
	padding: 3px;
}
table.zebra tr:nth-child(2n+3) {
	background: rgba(60, 104, 165, 0.05);
}
table.zebra th {
	background: rgba(0, 0, 0, 0.1);
}

/* Шрифт и размер в кнопке сохранить и текстовом поле ввода */
input[type=text],
select,
button.save,
.btn {
	font-family: Arial, Sans-serif;
	font-size: 13px;
}

/* Кнопка и сссылка справа от заголовка */
button.save,
a.goto {
	float: right;
}

a.goto {
	text-decoration: none;
}
a.goto:hover {
	text-decoration: underline;
}

button.save,
.btn {
	padding: 5px 10px;
	background: #3c68a5;
	color: #fff;
	border: none;
	border-radius: 2px;
}
button.save {
	padding: 8px 25px;
	position: relative;
	bottom: 8px;
	margin-left: 15px;
}

input[type=text],
input[type=password],
textarea {
	padding: 0 5px;
	background: #fff;
	color: #555;
	border-radius: 2px;
	border: 1px solid #aaa;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input[type=text],
input[type=password] {
	width: 350px; height: 25px;
}

select {
	width: 350px;
	padding: 4px 0;
}

input.small,
select.small {
	width: 50px;
}
input.auto,
select.auto {
	width: auto;
}

/* Редактор */
textarea.long {
	width: 100%;
    resize: vertical;
}

/* Таскалки */
#nav li.last i.fa-sort,
div.files div.block {
	cursor: move;
}

#nav li.placeholder {
	background: #555;
}

/* Список файлов (галерея) */
div.files form > div.scroll {
	white-space: nowrap;
}
div.files form > div {
	overflow: auto;
}
div.files div.block,
div.files div.placeholder {
	display: inline-block;
	padding: 5px;
}
div.files div a {
	line-height: 64px;
	text-decoration: none;
}
div.files img.pic {
	vertical-align: bottom;
}
div.files img.pic {
	height: 64px;
}
div.files div.block input,
div.files div.placeholder {
	vertical-align: middle;
}
div.files div.placeholder {
	height: 64px;
	background: #555;
}
div.files i.fa {
	color: #888;
	font-size: 24px;
}

/* Подвал */
#bottom {
	color: #434343;
	text-align: right;
	position: absolute;
	bottom: 0; left: 0; right: 0;
	height: 20px;
	line-height: 20px;
	padding-right: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #ddd;
}
#bottom > div {
	background: url(img/logo.png) no-repeat;
	width: 80px;
	height: 20px;
	float: right;
	background-size: contain;
	margin-right: 4px;
}
#bottom span {
	float: right;
}

.save_right {
	position: relative;
	left: 510px;
	margin: 10px 0;
}
